@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Center Image</title>
    <style>
        .center-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%; 
        }

        .display-4 {
            font-size: 7rem;
            color: darkred;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <h1 class="display-4">ARTHAPSIC</h1>
    </header>
  
    <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/6bbabed1-0963-4f81-94d7-b33c8753432c-profile_banner-480.png" alt="Centered Image" class="center-image">

    
    <
</body>
</html>
