@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Center Image</title>
    <style>
        .center-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width:1000px;
            height:auto;
            margin-top: 20px;
        }

        .display-4 {
            font-size: 7rem;
            color: darkred;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        @*<h1 class="display-4">ARTHAPSIC</h1>*@
        

    </header>
  
    <img src="https://preview.redd.it/battle-queen-gwen-splash-art-v0-48eetq93vgid1.jpeg?auto=webp&s=23b129a6b2c683736e9e0d708861538e89a4a6e9" alt="Centered Image" class="center-image">

    
    
</body>
</html>
