@{
    ViewData["Title"] = "Twitch Stream";
}
<style>

    iframe{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        margin: 0;
    }


</style>
<h2 style="color: #FF0000; font-family: 'Luckiest Guy';text-align: center;font-size: 55px;">THIS IS MY YOUTUBE ACCOUNT:</h2>
<iframe width="560" height="315"
        src="https://www.youtube.com/embed/4-NPqfeo-Y0"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
</iframe>
