@{
    ViewData["Title"] = "Twitch Stream";
}
<style>

    iframe {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        margin: 0;
    }

</style>
<h2 style="color: #9146FF; font-family: 'Luckiest Guy';text-align: center;font-size: 55px;">THIS IS MY TWITCH ACCOUNT:</h2>
<iframe src="https://player.twitch.tv/?channel=arthapsic&parent=localhost"
        height="400"
        width="1500"
        scrolling="no"
        allowfullscreen="true">
</iframe>