@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
.display {
            font-size: 2rem;
            color: gray;
            font-weight: bold;
            text-align: center;
            margin-top:50px;
        }
</style>
<h1 style="color:darkcyan; text-align:center;font-size:6rem; font-family:'Luckiest Guy'">About me:</h1>
<h2 class="display"> Hi! I'm Arthapsic, a Challenger gwen OTP on EUW.I've reached grandmaster EUW on midlane and challenger on toplane as only OTPing Gwen and mostly dodging if she's picked or banned. I'm in my twenties and currently in an university studying IT. I've played League since 2013 and I first reached Grandmaster in S9. I've been highest rated gwen OTP Season 13 ( at the end of the split ) and I have decided to make this guide. I also stream I've been streaming Gwen only and trying to reach Challenger.
I have about 5 accounts and around 2 mil + mastery points on Gwen as well </h2>